{% include "user/header.twig" %}
	<div class="container">
		{% include "user/subheader.twig" %}
		<div class="row">
			<div class="col-md-9">
				<h1>{{question.title}}</h1>
				<p class="text-muted meta">
					<i>
						Спросил:
						<span class="meta-data">{{question.user_name}}</span>
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
						<span class="meta-data">{{question.date}}</span>
						
						<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
						<span class="meta-data">{{question.category_name}}</span>
					</i>
				</p>
				<p>{{question.content}}</p>
				<hr>
				{% if answer %}
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Ответ</h4>
						<p>{{answer.content}}</p>
						<p class="text-muted meta">
							<i>
								Ответил:
								<span class="meta-data">{{answer.name}}</span>
								<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
								<span class="meta-data">{{answer.date}}</span>
							</i>
						</p>
					</div>
				</div>
				{% endif %}
			</div>
			{% include "user/sidebar.twig" %}
		</div>
	</div>
{% include "user/footer.twig" %}